# 단답형

> 여러 명의 사용자들이 컴퓨터에 저장된 많은 자료들을 쉽고 빠르게 조회, 추가, 수정, 삭제할 수 있도록 해주는 소프트웨어는 무엇인가?

답 : 데이터베이스

# 작업형 제1유형

> mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('[Dataset] 작업형 제1유형/mtcars.csv')

In [3]:
min_max_scaler = MinMaxScaler()

In [4]:
# MinMaxScaler 함수를 통해 계산하고 변형된 값을 output에 바로 넣어줌
output = min_max_scaler.fit_transform(df[['qsec']])

In [5]:
# 다루기 편하게 하기 위해 DataFrame으로 변환
output = pd.DataFrame(output, columns=['qsec'])

In [6]:
# qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수
len(output[output['qsec']> 0.5])

9

# 작업형 제2유형

> 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든 후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을 다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라 채점)

In [7]:
import pandas as pd

In [8]:
# 맥과 윈도우 한글 인코딩 방식 차이 때문에 여기서는 encoding='cp949'를 해줬다.
y_train = pd.read_csv('[Dataset] 작업형 제2유형/y_train.csv')
x_train = pd.read_csv('[Dataset] 작업형 제2유형/X_train.csv', encoding='cp949')
x_test = pd.read_csv('[Dataset] 작업형 제2유형/X_test.csv', encoding='cp949')

In [9]:
x_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [10]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [11]:
x_test.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8

In [12]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
cust_id    3500 non-null int64
총구매액       3500 non-null int64
최대구매액      3500 non-null int64
환불금액       1205 non-null float64
주구매상품      3500 non-null object
주구매지점      3500 non-null object
내점일수       3500 non-null int64
내점당구매건수    3500 non-null float64
주말방문비율     3500 non-null float64
구매주기       3500 non-null int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [13]:
# '환불금액'은 Nan 값이 많기 때문에 제외
x_train = x_train.drop('환불금액', axis=1)
x_test = x_test.drop('환불금액', axis=1)

In [14]:
# '주구매상품', '주구매지점'은 특징이 될 수 있으므로 one hot encoding 방법 사용
x_train = pd.get_dummies(x_train, columns=['주구매상품', '주구매지점'])
x_test = pd.get_dummies(x_test, columns=['주구매상품', '주구매지점'])

In [15]:
# '총구매액', '최대구매액'은 값이 크기 때문에 정규화 진행
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

In [16]:
x_train[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_train[['총구매액','최대구매액']])
x_test[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_test[['총구매액','최대구매액']])

In [17]:
# xgbregressor 사용
from xgboost import XGBRegressor

In [18]:
# 모델 생성
model = XGBRegressor(n_estimators=200, learning_rate=0.1)

In [19]:
x_train = x_train.drop('cust_id', axis=1)
x_test = x_test.drop('cust_id', axis=1)

In [20]:
# 칼럼 개수 맞추기
x_train = x_train.drop('주구매상품_소형가전', axis=1)

In [21]:
model.fit(x_train, y_train['gender'])

[15:05:59] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [22]:
x_test.head()

,총구매액,최대구매액,내점일수,내점당구매건수,주말방문비율,구매주기,주구매상품_가공식품,주구매상품_가구,주구매상품_건강식품,주구매상품_골프,...,주구매지점_안양점,주구매지점_영등포점,주구매지점_울산점,주구매지점_인천점,주구매지점_일산점,주구매지점_잠실점,주구매지점_전주점,주구매지점_창원점,주구매지점_청량리점,주구매지점_포항점
0,0.037376,0.094250,13,1.461538,0.789474,26,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0.120045,0.120505,90,2.433333,0.369863,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.118228,0.082873,101,14.623762,0.083277,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.015536,0.067651,5,2.000000,0.000000,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.013536,0.061604,3,2.666667,0.125000,8,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [23]:
x_train.head()

,총구매액,최대구매액,내점일수,내점당구매건수,주말방문비율,구매주기,주구매상품_가공식품,주구매상품_가구,주구매상품_건강식품,주구매상품_골프,...,주구매지점_안양점,주구매지점_영등포점,주구매지점_울산점,주구매지점_인천점,주구매지점_일산점,주구매지점_잠실점,주구매지점_전주점,주구매지점_창원점,주구매지점_청량리점,주구매지점_포항점
0,0.050810,0.020090,19,3.894737,0.527027,17,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.022966,0.007226,2,1.500000,0.000000,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.023412,0.006526,2,2.000000,0.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.028834,0.011171,18,2.444444,0.318182,16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.034295,0.038037,2,1.500000,0.000000,85,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
predictions = model.predict(x_test)

In [25]:
# 주요 변수 확인
feature_imp = model.feature_importances_
imp_df = pd.DataFrame({'var':x_train.columns, 'imp':feature_imp})
imp_df = imp_df.sort_values('imp', ascending=False)

In [26]:
imp_df

             var       imp
2           내점일수  0.063004
12  주구매상품_남성 캐주얼  0.041588
27    주구매상품_시티웨어  0.040682
46     주구매상품_화장품  0.038680
17    주구매상품_디자이너  0.036801
..           ...       ...
19      주구매상품_명품  0.000000
32      주구매상품_육류  0.000000
68     주구매지점_창원점  0.000000
21      주구매상품_보석  0.000000
44   주구매상품_트래디셔널  0.000000

[71 rows x 2 columns]

In [27]:
imp_df['var'].values

array(['내점일수', '주구매상품_남성 캐주얼', '주구매상품_시티웨어', '주구매상품_화장품', '주구매상품_디자이너',
       '주구매상품_아동', '주구매상품_섬유잡화', '주구매상품_피혁잡화', '최대구매액', '주구매지점_관악점',
       '주말방문비율', '주구매지점_본  점', '주구매상품_농산물', '주구매상품_남성정장', '주구매상품_건강식품',
       '주구매지점_청량리점', '주구매상품_스포츠', '주구매지점_광주점', '주구매지점_잠실점', '주구매상품_골프',
       '주구매상품_캐주얼', '내점당구매건수', '주구매지점_영등포점', '주구매지점_강남점', '주구매상품_모피/피혁',
       '주구매지점_동래점', '총구매액', '주구매상품_일용잡화', '구매주기', '주구매지점_포항점',
       '주구매지점_대전점', '주구매상품_주방가전', '주구매상품_축산가공', '주구매상품_기타', '주구매지점_일산점',
       '주구매상품_주류', '주구매상품_가구', '주구매지점_분당점', '주구매상품_구두', '주구매지점_전주점',
       '주구매상품_젓갈/반찬', '주구매상품_식기', '주구매상품_셔츠', '주구매지점_노원점', '주구매지점_부평점',
       '주구매지점_대구점', '주구매지점_인천점', '주구매상품_침구/수예', '주구매상품_수산품',
       '주구매지점_센텀시티점', '주구매상품_가공식품', '주구매지점_부산본점', '주구매상품_액세서리',
       '주구매지점_미아점', '주구매상품_란제리/내의', '주구매지점_안양점', '주구매상품_악기', '주구매상품_주방용품',
       '주구매상품_생활잡화', '주구매상품_커리어', '주구매지점_상인점', '주구매상품_남성 트랜디',
       '주구매상품_통신/컴퓨터', '주구매상품_차/커피', '주구매지점_울산점', '주구매상품_대형가전',
       '주구매상품_명품', '주구매상품_육류', '주구매지점_창원점', '주구매상품_보석', '주구매상품_트래디셔널'],
      dtype=object)

In [28]:
imp_df['imp'].values

array([0.06300372, 0.04158763, 0.04068248, 0.03867962, 0.03680066,
       0.03096723, 0.02861955, 0.02768574, 0.02602209, 0.02585592,
       0.02496598, 0.02246791, 0.02219589, 0.02193457, 0.02156162,
       0.02138922, 0.01969022, 0.0191393 , 0.01913049, 0.01876944,
       0.01865702, 0.0181284 , 0.01798026, 0.01700561, 0.01622443,
       0.01604464, 0.01574579, 0.01493856, 0.01465095, 0.01455866,
       0.01426861, 0.01423709, 0.01410947, 0.01410186, 0.01351065,
       0.01328545, 0.01262552, 0.01258719, 0.01183969, 0.01133831,
       0.01053201, 0.0090267 , 0.00902226, 0.00879154, 0.00859887,
       0.00859517, 0.00805565, 0.00796203, 0.00776502, 0.00735339,
       0.00716912, 0.00652891, 0.00625181, 0.00625077, 0.005772  ,
       0.00554167, 0.00516838, 0.00462737, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        ], dtype=float32)

In [29]:
# 내점일수가 가장 영향력이 크고, '주구매지점'은 크게 관련이 없기 때문에 삭제하는게 좋다고 판단

### 변수 재설정

In [30]:
# 맥과 윈도우 한글 인코딩 방식 차이 때문에 여기서는 encoding='cp949'를 해줬다.
y_train = pd.read_csv('[Dataset] 작업형 제2유형/y_train.csv')
x_train = pd.read_csv('[Dataset] 작업형 제2유형/X_train.csv', encoding='cp949')
x_test = pd.read_csv('[Dataset] 작업형 제2유형/X_test.csv', encoding='cp949')

In [31]:
x_train = x_train.drop(['환불금액', '주구매지점'], axis=1)
x_test = x_test.drop(['환불금액', '주구매지점'], axis=1)

In [32]:
x_train = pd.get_dummies(x_train, columns=['주구매상품'])
x_test = pd.get_dummies(x_test, columns=['주구매상품'])

In [33]:
x_train[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_train[['총구매액','최대구매액']])
x_test[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_test[['총구매액','최대구매액']])

In [34]:
x_train = x_train.drop('cust_id', axis=1)
save_id = x_test['cust_id']
x_test = x_test.drop('cust_id', axis=1)

x_train = x_train.drop('주구매상품_소형가전', axis=1)

In [35]:
model = XGBRegressor(n_estimators=200, learning_rate=0.1)

In [36]:
model.fit(x_train, y_train['gender'])

/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[15:06:01] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [37]:
predictions = model.predict(x_test)

In [38]:
result = pd.DataFrame({'cust_id':save_id, 'gender':predictions}).set_index('cust_id')

In [39]:
result

           gender
cust_id
3500     0.494325
3501     0.219439
3502     0.208788
3503     0.160405
3504     0.201209
...           ...
5977     0.642362
5978     0.169884
5979     0.564374
5980     0.415485
5981     0.097216

[2482 rows x 1 columns]

In [40]:
# 결과 저장
result.to_csv('result.csv')

# 데이터 합치고 기존 train 데이터에서 일부 train 추출해서 정확도 높이기

In [41]:
import pandas as pd
from xgboost import XGBRegressor
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()

In [42]:
y_train = pd.read_csv('[Dataset] 작업형 제2유형/y_train.csv')
x_train = pd.read_csv('[Dataset] 작업형 제2유형/X_train.csv', encoding='cp949')
x_test = pd.read_csv('[Dataset] 작업형 제2유형/X_test.csv', encoding='cp949')

In [43]:
# 앞서 진행했었던 변수 변환
x_train = x_train.drop(['환불금액', '주구매지점'], axis=1)
x_test = x_test.drop(['환불금액', '주구매지점'], axis=1)

x_train = pd.get_dummies(x_train, columns=['주구매상품'])
x_test = pd.get_dummies(x_test, columns=['주구매상품'])

x_train[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_train[['총구매액','최대구매액']])
x_test[['총구매액','최대구매액']] = min_max_scaler.fit_transform(x_test[['총구매액','최대구매액']])

x_train = x_train.drop('주구매상품_소형가전', axis=1)

In [44]:
# 데이터 병합
x_train = pd.merge(x_train, y_train, on='cust_id')

In [45]:
# 임의로 나눈 train, test 값
train = x_train.sample(3000, random_state=2021)
test = x_train.drop(train.index)

In [46]:
input_var = ['총구매액', '최대구매액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기',
       '주구매상품_가공식품', '주구매상품_가구', '주구매상품_건강식품', '주구매상품_골프', '주구매상품_구두',
       '주구매상품_기타', '주구매상품_남성 캐주얼', '주구매상품_남성 트랜디', '주구매상품_남성정장', '주구매상품_농산물',
       '주구매상품_대형가전', '주구매상품_디자이너', '주구매상품_란제리/내의', '주구매상품_명품', '주구매상품_모피/피혁',
       '주구매상품_보석', '주구매상품_생활잡화', '주구매상품_섬유잡화', '주구매상품_셔츠', '주구매상품_수산품',
       '주구매상품_스포츠', '주구매상품_시티웨어', '주구매상품_식기', '주구매상품_아동', '주구매상품_악기',
       '주구매상품_액세서리', '주구매상품_육류', '주구매상품_일용잡화', '주구매상품_젓갈/반찬', '주구매상품_주류',
       '주구매상품_주방가전', '주구매상품_주방용품', '주구매상품_차/커피', '주구매상품_축산가공', '주구매상품_침구/수예',
       '주구매상품_캐주얼', '주구매상품_커리어', '주구매상품_통신/컴퓨터', '주구매상품_트래디셔널', '주구매상품_피혁잡화',
       '주구매상품_화장품']

In [47]:
# 모델 설정
xgb = XGBRegressor(n_estimators=200, learning_rate=0.1)

In [48]:
xgb.fit(train[input_var], train['gender'])

/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[15:06:03] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [49]:
predictions = xgb.predict(test[input_var])

## *참고 : roc_auc_score 구하는 법*

In [50]:
# roc_auc 구하는법
from sklearn.metrics import roc_auc_score
roc_auc_score(test['gender'], predictions)

0.6503398944805194

## 파라미터 튜닝

In [51]:
from sklearn.model_selection import GridSearchCV

In [52]:
xgb = XGBRegressor()

In [53]:
xgb_param_grid = {'n_estimators':[100,200,300,400,500],
                 'learning_rate':[0.05,0.01,0.5,0.1]}

In [54]:
hr_grid = GridSearchCV(estimator=xgb,
                      param_grid=xgb_param_grid,
                      scoring='roc_auc')

In [55]:
# hr_grid.fit(train[input_var], train['gender'])

In [56]:
# hr_grid_df = pd.DataFrame(hr_grid.cv_results_)
# hr_grid_df.loc[:,['mean_test_score', 'params']]

In [57]:
model = XGBRegressor(n_estimators=300, learning_rate=0.01)

In [58]:
model.fit(x_train[input_var], x_train['gender'])

/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/jeongjae/anaconda3/lib/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[15:06:04] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=300,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [59]:
predictions = model.predict(x_test[input_var])

In [60]:
result = pd.DataFrame({'cust_id':x_test['cust_id'], 'gender':predictions}).set_index('cust_id')

In [61]:
result

           gender
cust_id
3500     0.447026
3501     0.247280
3502     0.236810
3503     0.405279
3504     0.396622
...           ...
5977     0.479251
5978     0.423374
5979     0.472663
5980     0.423917
5981     0.401497

[2482 rows x 1 columns]

In [62]:
result.to_csv('result.csv')