In [1]:
import pandas as pd

# DataFrame

- Series가 1차원이면 DataFrame은 2차원으로 확대된 버젼
- Execl spreadsheet와 비슷한 형식
- 2차원이기 때문에 인덱스가 row, column로 구성됨
    - row는 각 개별 데이터를 column은 개별 속성을 의미
- Data Analysis, Machine Learning에서 data 변형을 위해 가장 많이 사용

**dataframe 데이터 파악하기**
- shape 속성(row, column)
- describe 함수 - 숫자형 데이터의 통계치 계산
- info : 데이터 타입, 각 아이템의 개수 등 출력

**index**
- index 속성
- 각 아이템을 특정할 수 있는 고유의 값을 저장

**column**
- columns 속성
- 각각의 특성(feature)을 나타냄

# 1. Dataframe 데이터 생성하기

**dictionary로 생성하기**
- dict의 key -> column

In [2]:
data = {'a':[1,2,3], 'b':200, 'c':300}
pd.DataFrame(data, index=['x','y','z'])

   a    b    c
x  1  200  300
y  2  200  300
z  3  200  300

**Series로 생성하기**
- 각 Series의 인덱스 -> column

In [3]:
a = pd.Series([100,200,300],['a','b','c'])
b = pd.Series([101,200,300],['a','b','c'])
c = pd.Series([102,200,300],['a','b','d'])

pd.DataFrame([a,b,c])

       a      b      c      d
0  100.0  200.0  300.0    NaN
1  101.0  200.0  300.0    NaN
2  102.0  200.0    NaN  300.0