In [1]:
import pandas as pd

In [4]:
train_data = pd.read_csv('train.csv')

In [6]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# DataFrame

- Series가 1차원이면 DataFrame은 2차원으로 확대된 버젼
- Execl spreadsheet와 비슷한 형식
- 2차원이기 때문에 인덱스가 row, column로 구성됨
    - row는 각 개별 데이터를 column은 개별 속성을 의미
- Data Analysis, Machine Learning에서 data 변형을 위해 가장 많이 사용

**dataframe 데이터 파악하기**
- shape 속성(row, column)
- describe 함수 - 숫자형 데이터의 통계치 계산
- info : 데이터 타입, 각 아이템의 개수 등 출력

**index**
- index 속성
- 각 아이템을 특정할 수 있는 고유의 값을 저장

**column**
- columns 속성
- 각각의 특성(feature)을 나타냄

# 1. Dataframe 데이터 생성하기

**dictionary로 생성하기**
- dict의 key -> column

In [2]:
data = {'a':[1,2,3], 'b':200, 'c':300}
pd.DataFrame(data, index=['x','y','z'])

   a    b    c
x  1  200  300
y  2  200  300
z  3  200  300

**Series로 생성하기**
- 각 Series의 인덱스 -> column

In [3]:
a = pd.Series([100,200,300],['a','b','c'])
b = pd.Series([101,200,300],['a','b','c'])
c = pd.Series([102,200,300],['a','b','d'])

pd.DataFrame([a,b,c])

       a      b      c      d
0  100.0  200.0  300.0    NaN
1  101.0  200.0  300.0    NaN
2  102.0  200.0    NaN  300.0

# 2. CSV 데이터로부터 dataframe 생성하기

**read_csv 함수 파라미터**
- sep : 각 데이터 값을 구별하기 위한 구분자 설정
- header : header를 무시할 경우 None 설정
- **index_col : index로 사용할 column 설정**
- **usecols : 실제로 dataframe에 로딩할 columns만 설정**

# 3. 원하는 column만 선택하기

**column 선택하기**
- 기본적으로 [ ]는 column을 추출
- 컬럼 인덱스일 경우 인덱스의 리스트 사용 가능
    - 리스트를 전달할 경우 결과는 dataframe (복수의 컬럼 선택)
    - 하나의 컬럼명을 전달할 경우 결과는 Series

# 4. 원하는 row만 선택하기

**dataframe slicing**
- dataframe의 경우 기본적으로 [ ] 연산자가 column 선택에 사용
- 하지만, **slicing은 row 레벨로 지원**

In [8]:
train_data[:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**row 선택하기**